.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #1f1f1f; 
    font-weight: bold;
  }
  
  
  .pagination span.active {
    background-color: red; 
    border-color: red;
  }
  
  .pagination span:hover {
    background-color: #333; 
    border-color: #333;
  }
  